{{ 'image-text-container.css' | asset_url | stylesheet_tag }}

<div class="new-section">
  <div class="container">
    <div class="left-section">
      {% if section.settings.left_image %}
        {{ section.settings.left_image | image_url: width: 1000 | image_tag }}
      {% else %}
        <picture>
          <source srcset=" {{ 'collection-1' | placeholder_svg_tag }} "> 
        </picture>
      {% endif %}
    </div>
    <div class="right-section">
      <h2>{{ section.settings.heading }}</h2>
      <p>{{ section.settings.paragraph }}</p>
      <a href="{{ section.settings.button_link }}" class="button button--primary">{{ section.settings.button_text }}</a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image Text Container",
  "tag": "section",
  "settings": [
     {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "Color scheme",
        "default": "background-1"
      },
      {
        "type": "header",
        "content": "Section padding"
      },
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Your Heading"
    },
    {
      "type": "textarea",
      "id": "paragraph",
      "label": "Paragraph",
      "placeholder": "Enter your paragraph here."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Learn More"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Image Text Container"
    }
  ]
}
{% endschema %}
