{{ 'netflix-movie-recommendation.css' | asset_url | stylesheet_tag }}
{{ 'flickity.css' | asset_url | stylesheet_tag }}
<script src="{{ 'netflix-movie-recommendation.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'flickity.js' | asset_url }}" defer="defer"></script>

<div class="main">
  <div class="search-bar">
    <input type="text" id="searchInput" placeholder="What do you want to watch?" onkeypress="handleSearch(event)">
    <img src="{{ 'icons8-search.svg' | asset_url }}" alt="Search" class="search-icon" width="20px" height="25px" onclick="performSearch()">
  </div>

  <div class="featured-movie flickity-carousel" id="featuredMovie">
    <!-- Initially, display the featured movie here -->
    <!-- The movie picture, title, and genre will be populated here -->
  </div>

  <div class="search-featured" id="searchFeatured" style="display: none;">
    <!-- Display the first found search result here -->
    <!-- The movie picture, title, and genre will be populated here -->
  </div>

  <div class="recommended__heading">
     <h2>Recommended Movies</h2>
  </div>
  <div class="recommended flickity-carousel" id="recommended-container">
    <!-- Recommended movies will be populated here -->
  </div>

  <div class="search-results flickity-carousel" id="searchResults" style="display: none;">
    <!-- Other search results will be displayed here -->
  </div>
  <div class="favourite__heading">
     <h2>Favorites List</h2>
  </div>
  <div class="movie-list flickity-carousel" id="favoritesList">
    <!-- Favorites list will be populated here -->
  </div>
</div>

{% schema %}
{
  "name": "Netflix Movie Section",
  "tag":"section",
  "settings": [
  ],
  "presets": [{
    "name": "Netflix Movie section"
  }]
}
{% endschema %}
