{{ 'netflix-movie-recommendation.css' | asset_url | stylesheet_tag }}
{{ 'flickity.css' | asset_url | stylesheet_tag }}
<script src="{{ 'netflix-movie-recommendation.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'flickity.js' | asset_url }}" defer="defer"></script>

<div class="main">
  <div class="search-bar">
    <input type="text" id="searchInput" placeholder="What do you want to watch?" onkeypress="handleSearch(event)">
    <img src="{{ 'icons8-search.svg' | asset_url }}" alt="Search" class="search-icon" width="20px" height="25px">
  </div>

  <div class="featured-movie flickity-carousel" id="featuredMovie">
    <!-- Featured movie content -->
  </div>

  <div class="recommended flickity-carousel" id="recommended-container">
    <!-- Recommended movies will be populated here -->
  </div>

  <div class="flickity-carousel" id="searchResults">
    <!-- Search results will be displayed here -->
  </div>

  <div class="movie-list flickity-carousel" id="favoritesList">
    <!-- Favorites list will be populated here -->
  </div>
</div>

{% schema %}
{
  "name": "Netflix Movie Section",
  "tag":"section",
  "settings": [
  ],
  "presets": [{
    "name": "Netflix Movie section"
  }]
}
{% endschema %}
